
/*------- filterIt -------*/
.filter-item{/*transition*/-webkit-transition:-webkit-transform ease .3s, opacity ease .3s;;-moz-transition:-moz-transform ease .3s, opacity ease .3s;;transition:transform ease .3s, opacity ease .3s;;}
.filter-item.active{opacity:1;  /*transform*/-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.filter-item.not-active{opacity:0; /*transform*/-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}
/* User */
.filter-nav{text-align:center; clear:both; margin:0 0 40px 0;}
.filter-nav li{display:inline-block; list-style:none;}
.filter-nav .filter{display:block; padding:10 15px; color:#fff; font-weight:bold; background:#5eb8e2; cursor:pointer; border-radius:5px;}
.filter-nav .filter.active{color:#fff; background:#333;}
.filter-item{float:left; width:25%; padding:0; margin:0; text-align:center;}
.filter-inner{padding:0 15px 20px 15px; margin:0;}

.filter-item img{max-width:100%; height:auto; margin:0 0 10px 0;}
.filter-inner h2{margin:0;}