
/*--- START - REMOVE ON ACTUAL SITE --*/
form li{list-style: none;}
label{display:block; margin:0 0 7px 0; font-size:12px; font-weight:normal; font-family: "Open Sans Bold", Helvetica, Arial, sans-serif; color:$bluetxt; text-transform:uppercase; /*box*/-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
select{border:1px solid #ddd; margin:0 0 10px 0; width:100%; height:46px; padding:8px; font-size:13px; background:#f0f0f0;}
input, textarea{border:1px solid #ddd; height:46px; color:#333; background:#f0f0f0; padding:10px 15px; width:100%; margin:0 0 10px 0; color:#000; font-size:13px; font-weight:normal; font-family: "Open Sans", Helvetica, Arial, sans-serif; -webkit-appearance:none; border-radius:3px; /*font smoothing*/-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
#labelhint_form{max-width:560px; margin:0 auto;}
/*--- END - REMOVE ON ACTUAL SITE --*/



/*------- Label Hint / Label Mini -------*/
.lbl-mini label{font-size:11px;margin:7px 0 2px 0; color:#bbb; /*transition*/-webkit-transition:all ease .3s;-moz-transition:all ease .3s;transition:all ease .3s;}
.lbl-mini input, .lbl-mini textarea, .lbl-mini select{margin:0;}

.js .lbl-hint label{position:relative;top:5px; opacity:0;}
.lbl-hint label.on{color:#5eb8e2;}
.lbl-hint label.show{top:0; opacity:1;}

/* IE Label Hint */
.lt-ie10 .lbl-hint label{opacity:1; top:0; font-weight:normal; font-size:14px;}
