
/*------- Form Fields -------*/

fieldset{border:0; margin:0; padding:0;}
label{display:block; margin:0 0 7px 0; font-size:12px; font-weight:normal; font-family: "Open Sans Bold", Helvetica, Arial, sans-serif; color:$bluetxt; text-transform:uppercase; /*box*/-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
select{border:1px solid #ddd; margin:0 0 10px 0; width:100%; height:46px; padding:8px; font-size:13px; background:#f0f0f0;}
input, textarea{border:1px solid #ddd; height:46px; color:#333; background:#f0f0f0; padding:10px 15px; width:100%; margin:0 0 10px 0; color:#000; font-size:13px; font-weight:normal; font-family: "Open Sans", Helvetica, Arial, sans-serif; -webkit-appearance:none; border-radius:3px; /*font smoothing*/-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
input[type="submit"]{border:none;}
textarea{height:150px;}
input:focus, textarea:focus{background:#e0e0e0;}
.submit{border:none; display:inline-block; width:auto; max-width:100%; padding:10px 20px; text-align: center; font-weight:normal; font-family: "Open Sans Bold", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:14px; line-height:16px; color:#fff; background:#3AAFFD; border-radius:3px; text-shadow:-1px -1px 0 rgba(0,0,0,.2); cursor: pointer; /*font smoothing*/-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; /*hrz scroll fix min-width:960px; */}
.submit:hover{color:#fff; background:#3489B3;}
	.submit .icon{display: inline-block; font-size:11px; vertical-align: middle; margin:-2px 0 0 4px;}
.radio{display:inline-block; margin:0; padding:0 0 0 20px; cursor:pointer;}
.radio input{width:auto; margin:0 5px 0 -20px; padding:0; display:inline-block; background:none; cursor:pointer; -webkit-appearance:radio;}
.chbx{margin:0; padding:0 0 0 20px; cursor:pointer;}
.chbx input{width:auto; margin:0 5px 0 -20px; padding:0; display:inline-block; cursor:pointer; vertical-align:baseline; border:none; background:none; -webkit-appearance:checkbox;}
.form_bday{overflow:hidden;}
.form_bday select{display:block; float:left; margin-right:2%;}
.form_bday input{display:block; float:left;}
.form_month{width:40%;}
.form_day{width:30%;}
.form_year{width:26%; text-align:center;}
.vcode-area{position:relative; padding-left:120px;}
.vcode-img{display:block; width:auto; position:absolute; left:0; top:0;}
.vcode{width:100%; height:50px; font-size:30px; text-align:center;}
.inline-fields li{margin-left:30%;}
	.inline-fields .inline{margin-left:0;}
form .inline{padding:0 !important; margin:0 0 25px 0;}
	.inline label{display:inline-block; width:39%; padding:0 4%; text-align: right; margin-bottom:0; vertical-align:top;}
	.inline input{display:inline-block; width:60%; margin-bottom:0; text-align: left; vertical-align: top;}
	.inline .chbx-wrap, .inline .radio-wrap{width:60%; display:inline-block; padding:0;}
		.inline .chbx, .inline .radio{width:auto; padding:0; margin:0 20px 12px 0; text-align: left; text-transform: none; font-size:13px; font-weight:normal; font-family: "Open Sans", Helvetica, Arial, sans-serif;}
			.inline .chbx input, .inline .radio input{width:auto; height:auto; margin:-2px 5px 0 0; vertical-align: middle;}
		.inline .lbl-block .chbx, .inline .lbl-block .radio{display: block; margin:0 0 7px 0;}
.inline-submit input{display:block; float: left; vertical-align:top; width:68%; margin:0 2% 0 0;}
.inline-submit .submit{height:46px; width:30%; padding:10px 0; margin:0;}
.field-callout{padding:10px 0; background:#fff; border-top:1px solid #333; border-bottom:1px solid #333;}
form li{list-style: none;}

::-webkit-input-placeholder{color:$bluetxt; text-transform: uppercase;} ::-moz-placeholder{color:$bluetxt; text-transform: uppercase;} :-ms-input-placeholder{color:$bluetxt; text-transform: uppercase;}

/* Error*/
.errmsg{background-color:#FFF5F5; border:1px dotted #CC0000; margin:10px 0 10px 0;}
.errmsg div{padding:10px 0 10px 0;}
.errmsg ul{margin-top:0; margin-bottom:0;}
.errmsg li{list-style:disc; text-align:left !important; margin:0 0 5px 25px !important;}

/* Form Cols */
form.col-wrap li{margin:0 1% 25px 1%; clear:both;}
	form.col-wrap .lbl-mini{margin:0 1%;}
	form.col-wrap .field-col{clear:none; float:left;}
.col3-4{width:75%;}
.col2-3{width:64.6%;}
.col1-2{width:48%;}
.col1-3{width:31.3%;}
.col1-4{width:23%;}


/*---  700-  ---*/
@media screen and (max-width : 700px) {
	/* Form Cols */
	form.col-wrap{margin:0;}
		form.col-wrap li{margin:0 0 25px 0; clear:both;}
		form.col-wrap .lbl-mini{margin:0;}
			form.col-wrap .field-col{width:auto; float: none; margin:0;}
	/* Form Inline */
	form .inline{}
		.inline label{display: block; width:auto; padding:0; margin:0 0 5px 0; text-align: left;}
		.inline .chbx-wrap, .inline .radio-wrap{display:block; width:auto;}
}
